.me__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;

  .me__card {

      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      margin: 1rem 0;

      color: var(--primary-color-rgba-60);
      font-size: 1.5rem;
  
      .__photo {
          img {
              filter: grayscale(90%);
              width: 100%;
              max-width: 400px;
              height: auto;
              border-radius: 50%;
              border-top: 1px solid var(--primary-color);
          }
      }

      .__info {
        margin-top: 1.5rem;

        div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 1rem;

          svg {
            margin: .5rem;

            path {
              fill: var(--primary-color-rgba-60);
            }

            &:nth-child(2) {
              margin-left: 1.2rem;
            }

          }
        }
      }

  }
}