<div class="container-fluid me__container">

  <div class="row">

    <div class="col-12">
      
      <label class="hi"> {{ 'ME.HI' | translate }}! </label>

    </div>

    <div class="col-12 typing__effect">

      <h1>
        <a rel="noopener" href="" class="typewrite" data-period="1600"
          data-type='[
            "Hi, Im Carlos", 
            "But",
            "Im also notBadCode."
            ]'>
          <span class="wrap"></span>
        </a>
      </h1>

      <div class="__photo d-flex justify-content-center">
        <img src="../../../assets/img/me__photo_no_bg.png" alt="me" />
      </div>

      <h2> {{ 'ME.IM_DEVELOPER' | translate }} </h2>
      <p [innerHtml]="'ME.FIRST_INFO' | translate"></p>
      <p [innerHtml]="'ME.SECOND_INFO' | translate"></p>

      <ul class="d-flex justify-conntent-start align-items-center">
        <li>
          <a class="github__rel"
            aria-label="My Github space"
            target="_blank"
            rel="noopener"
            href="https://github.com/notbadcode-dev">
          </a>
        </li>

        <li>
          <a class="linkedin__rel"
            aria-label="My LinkedIn"
            target="_blank"
            rel="noopener"
            href="https://www.linkedin.com/in/carlosbgr/">
          </a>
        </li>
      </ul>

    </div>
    
  </div>

</div>