<div class="navbar__container">

  <div class="__routes">

    <ul class="list-group list-group-horizontal-md">

      <li class="mt-2">
        <a class="skills__rel svg__rel d-flex justify-content-center align-items-center"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ 'TOOLTIP.OPEN_SKILLS' | translate }}"
          rel="noopener"
          aria-label="Skills"
          routerLink="/skills"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'NAVBAR.SKILLS' | translate }}
        </a>
      </li>

      <li class="mt-2">
        <a class="repositories__rel svg__rel d-flex justify-content-center align-items-center"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ 'TOOLTIP.OPEN_REPOSITORIES' | translate }}"
          rel="noopener" 
          aria-label="Repositories"
          routerLink="/repositories"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'NAVBAR.REPOSITORIES' | translate }}
        </a>
      </li>

    </ul>

  </div>

</div>

<div class="floating__settings__wrapper"
  [ngClass]="{'active': _openSettings, 'settings__mobile': isMobile }">

  <button class="d-flex justify-content-center align-items-center open__trigger"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Open Web Settings"
    (click)="touchFloatingSettings()">
      <a
        class="svg__rel open__trigger">
      </a>
  </button>

  <div class="floating__settings__content">

    <ul class="list-group list-group-flush">

      <li class="list-group-item container py-3">
        <div class="row">

          <div class="col-12 text-center">
            <label class="floating__settings__label"> {{ 'NAVBAR.SETTINGS.THEME.MODEL' | translate }} </label>
          </div>

          <div class="col-12 themes">
            <button class="hidden__button" title="Theme" (click)="togglerDarkModeHiddenButton()" type="button"></button>
            <input type="checkbox" class="checkbox" id="chk" title="Switch change mode" role="button"
              (change)="_utilsService.togglerDarkMode(); isDarkMode = !isDarkMode"/>
            <label class="label" for="chk" [ngClass]="{'dark-mode': isDarkMode }">
              <a class="dark__mode__rel"
                alt="Dark mode"
                role="img"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ 'TOOLTIP.SWICTH_DARK_MODE' | translate }}"></a>
              <a class="light__mode__rel"
                alt="Light mode"
                role="img"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ 'TOOLTIP.SWICTH_LIGHT_MODE' | translate }}"></a>
              <div class="ball"></div>
            </label>
          </div>

          <div class="col-12 text-center">
            <small class="info"> {{ isDarkMode ? 'Dark' : 'Light' }} </small>
          </div>

        </div>
      </li>

      <li class="list-group-item container py-3">
        <div class="row">

          <div class="col-12 text-center">
            <label class="floating__settings__label"> {{ "NAVBAR.SETTINGS.LANGUAGE.MODEL" | translate }} </label>
          </div>

          <div class="col-6 languages">
            <span
              [ngClass]="{ 'active': _utilsService.isActiveLanguageFromCode(_utilsService.applanguageCodes.EN) }"
              role="button"
              data-toggle="tooltip"
              data-placement="bottom"
              [title]="'TOOLTIP.SWICTH_ENGLISH' | translate"
              (click)="_utilsService.changeLanguage(_utilsService.applanguageCodes.EN)">
              {{ "NAVBAR.SETTINGS.LANGUAGE.ENGLISH.CODE" | translate }}
            </span>
          </div>

          <div class="col-6 languages">
            <span
              [ngClass]="{ 'active': _utilsService.isActiveLanguageFromCode(_utilsService.applanguageCodes.ES) }"
              role="button"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{{ 'TOOLTIP.SWICTH_SPANISH' | translate }}"
              (click)="_utilsService.changeLanguage(_utilsService.applanguageCodes.ES)">
              {{ "NAVBAR.SETTINGS.LANGUAGE.SPANISH.CODE" | translate }}
            </span>
          </div>

        </div>

      </li>

    </ul>

  </div>

</div>