$transition-background: background 300ms linear 0s;

.navbar__container {
    color: var(--primary-color);

    .__routes > ul,
    .web__settings > ul {
        list-style: none;
    }

    .__routes > ul {
        li {
            min-width: 8em;
            padding: 0 1em;

            a {
                text-decoration: none;
                border: .15em solid transparent;
                border-radius: .6em;
                padding: .4em 1em;
                min-width: 10em;
                text-align: right;
                border-color: var(--primary-color-25);
                transition: $transition-background;
                -moz-transition: $transition-background;
                -webkit-transition: $transition-background;
                -o-transition: $transition-background;

                &::before {
                    z-index: 1;
                    margin-right: .4em;
                }

                &.skills__rel::before {
                    background: var(--svg-file-skills-rel);
                } 

                &.repositories__rel::before {
                    background: var(--svg-file-repositories-rel);
                }

                &.active {
                    border-color: var(--accent-color-25);
                }
            }
                
        }
    }
}

.floating__settings__wrapper {
    position: absolute;
    top: .6em;
    right: 2em;

    button  {
        background: var(--primary-color-10);
        border: .1rem solid var(--primary-color-25);
        border-radius: 100%;
        cursor: pointer;
        width: 3em;
        height: 3em;
        transition: $transition-background;
        -moz-transition: $transition-background;
        -webkit-transition: $transition-background;
        -o-transition: $transition-background;

        &:hover {
            background: var(--accent-color-25);
            border: .1rem solid var(--accent-color-25);
            > a::before {
                filter: var(--svg-filter-active);
                opacity: var(--svg-opacity-active);
            }
        }

        >  a::before {
            background: var(--svg-file-settings-rel);
        }
    }

    &.active > button {
        background: var(--accent-color-25);
        border: .1rem solid var(--accent-color-25);
        > a::before {
            filter: var(--svg-filter-active);
            opacity: var(--svg-opacity-active);
        } 
    }

    .floating__settings__content {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
        position: absolute;
        left: -6em;
        top: 5em;
        background: var(--background-color);
        padding: 1.5rem;
        width: auto;
        min-width: 10em;
        border: 1px solid var(--primary-color-15);
        border-radius: .4em;
        transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        -webkit-transform: translate(0, 10px);
        -o-transition: translate(0, 10px);
        transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
        -moz-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
        -webkit-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
        -o-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }

    &.active {
        .floating__settings__content {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transform: translate(0, -20px);
            -moz-transform: translate(0, -20px);
            -webkit-transform: translate(0, -20px);
            -o-transition: translate(0, -20px);
            transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
            -moz-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
            -webkit-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
            -o-transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
          }
    }

    .list-group-item {
        background-color: transparent;
        color: var(--primary-color);
        label {
            font-weight: 500;
            margin-bottom: 0.6em;
            position: relative;
            left: -0.2em;

            &.floating__settings__label {
                color: var(--primary-color);
            }

            &.floating__settings__label, .info{
                left: .2em;
            }
        }
    }

    .themes {
        margin-left: 1em;
    
        .checkbox {
            opacity: 0;
            position: absolute;
        }
        
        .label {
            border: 1px solid var(--primary-color-15);
            background-color: var(--primary-color-60);
            border-radius: 5em;
            cursor: pointer;
            display: flex;
            align-items: center;
                                                                                                                               
            position: relative;
            height: 1.3rem;
            width: 2.92em;
            transform: scale(1.5);
    
            .ball {
                background-color: #F5F5F7;
                border-radius: 5em;
                position: absolute;
                left: 0.1em;
                height: 1.1em;
                width: 1.1em;
                transform: translateX(0px);
                transition: transform 0.2s linear;
            }
    
            .dark__mode__rel,
            .light__mode__rel {
                filter: var(--svg-filter);
                width: 1.5em;
                height: 1.5em;
                display: block;
                content: "";
                position: relative;
                top: 0.2em;
            }
    
            .dark__mode__rel {
                background: var(--svg-file-dark-mode-rel);
                filter: var(--svg-filter-dark-mode);
                left: .1em;
            }
    
    
            .light__mode__rel {
                background: var(--svg-file-light-mode-rel);
                filter: var(--svg-filter-light-mode);
                left: .3em;
            }
    
        }
    
        .checkbox:checked + .label .ball {
            transform: translateX(24px);
        }
    }

    .languages {
        color: var(--primary-color);
        span, img {
            background: transparent;
            padding: 0.5em;
            border: 1px solid;
            border-color: transparent;
            border-radius: 0.5em;

            &.active {
                color: var(--accent-color);
                background: var(--accent-color-25);
                border-color: var(--accent-color-70);
            }
        }
    }

    .info {
        color: var(--primary-color-70);
    }

    &.settings__mobile {
        position: fixed;
        z-index: 10;
    }
}

.svg__rel {
    color: var(--primary-color);
    font-weight: var(--font-weigth-active);

    &::before{
        width: 1.5em;
        height: 1.5em;
        display: block;
        content: "";
        filter: var(--svg-filter);
    }

    &.active, &:not(.open__trigger):hover {
        color: var(--accent-color);
        background: var(--accent-color-25);
        border-color: var(--accent-color-25);
        font-weight: var(--font-weigth-active);

        &::before {
            filter: var(--svg-filter-active);
            opacity: var(--svg-opacity-active);
        }
    }
}

.hidden__button {
    position: absolute !important;
    bottom: 2.7em !important;
    width: 4.5em !important; 
    left: 1em !important;
    height: 2em !important;
    border-radius: 8em !important;
    border-color: transparent !important;
    background-color: transparent !important;
    z-index: 11;
}