.container__projects {

  display: grid;
  gap: 1rem;

  grid-auto-flow: dense;
  grid-auto-rows: 16rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

  padding: 1rem 1rem;

  .card__project {
    display: grid;
    grid-column: span 1;
    width: 100%;
    height: auto;

    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    border: 1px solid var(--primary-color-rgba-60);
    background-color: var(--primary-color-rgba-10);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    box-shadow: 
      0px 
      calc(6rem / 6) 
      calc(6rem / 3) 
      rgba(black, 0.1);  

    padding: .5em .6em;

    h4 {
      margin: 0;
      letter-spacing: 1px;
    }

    p {
      opacity: 0.8;
      font-size: 14px;
    }

    .info__project {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      div {
        h6 {
          margin: 0;
          letter-spacing: 1px;
          margin-bottom: .4rem;
        }

        ul {
          display: inline-flex;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            text-align:  center;
          }

        }


        &.__links {
          ul > li {
            &:first-child {
              margin-right: 1rem;
              svg > path {
                fill: var(--primary-color);
              }
            }

            &:last-child {
              margin-top: .3rem;

              svg  {
                stroke: var(--primary-color);
              }
            }

            a {
              display: flex;
              align-content: flex-end;

              &:hover {
                opacity: .6;
              }

              &.disabled__link {
                opacity: .3;
                cursor: not-allowed;
              }
            }
          }
        }
      }

    }
  }
}


// @media (max-width: 320px) and (max-width: 576px){
//   .container__projects {
//     grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
//     padding: .2rem .2rem;
//   }
// }

// @media (min-width: 576px) {
//   .container__projects {
//     grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
//     padding: 1rem 1rem;
//   }
// }

// @media (min-width: 768px) {
//   .container__projects {
//     padding: 1rem 2rem;
//   }
// }

// @media (min-width: 992px) {
//   .container__projects {
//     padding: 1rem 8rem;
//   }
// }

// @media (min-width: 1200px) {
//   .container__projects {
//     grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
//     padding: 1rem 12rem;
//   }
// }