<div class="container__repositories">
  <div
    class="card__repository container"
    *ngFor="let repository of repositoryList"
  >
    <div class="row main__info">
      <div class="col-10">
        <h4>{{ repository.name }}</h4>
        <p>
          {{
            _utilsService.isActiveLanguageFromCode(
              _utilsService.applanguageCodes.EN
            )
              ? repository.description.split(".")[0]
              : repository.description.split(".")[1]
          }}
        </p>
      </div>

      <div class="col-2 actions">
        <div>
          <button
            title="{{ 'TOOLTIP.OPEN_REPOSITORY' | translate: { repositoryName: repository.name } }}">
            <a
              class="repositories__rel"
              target="_blank"
              alt="Open repository"
              role="img"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{{ 'TOOLTIP.OPEN_REPOSITORY' | translate: { repositoryName: repository.name } }}"
              [attr.href]="repository.repositoryUrl"
            >
            </a>
          </button>
        </div>

        <div *ngIf="repository.websiteUrl !== null">
          <button
            title="{{ 'TOOLTIP.OPEN_WEBSITE' | translate: { websiteUrl: repository.websiteUrl } }}">
            <a class="browser__rel"
              target="_blank"
              alt="Open site"
              role="img"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{{ 'TOOLTIP.OPEN_WEBSITE' | translate: { websiteUrl: repository.websiteUrl} }}"
              [attr.href]="repository.websiteUrl"
            >
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="row more__info">
      <percentage-languages
        [languageList]="repository.languages">
      </percentage-languages>

    </div>
  </div>
</div>
