:root {
    --primary-color: #fff;
    --primary-color-filter: unset;

    --primary-color-rgba-10: rgba(255, 255, 255, 0.1);
    --primary-color-rgba-20: rgba(255, 255, 255, 0.2);
    --primary-color-rgba-40: rgba(255, 255, 255, 0.4);
    --primary-color-rgba-60: rgba(255, 255, 255, 0.6);

    --background-primary-color: #f05053;
    --background-secondary-color: #062d7c;
    --background-gradient: #f05053, #062d7c;
}