:root {
    //COLORS
    --primary-color: #000;
    --primary-color-025: rgba(0, 0, 0, .025);
    --primary-color-050: rgba(0, 0, 0, .075);
    --primary-color-075: rgba(0, 0, 0, .05);
    --primary-color-10: rgba(0, 0, 0, .1);
    --primary-color-15: rgba(0, 0, 0, .15);
    --primary-color-25: rgba(0, 0, 0, .25);
    --primary-color-50: rgba(0, 0, 0, .5);
    --primary-color-60: rgba(0, 0, 0, .6);
    --primary-color-70: rgba(0, 0, 0, .7);
    --primary-color-revert: #FFF;

    --accent-color: #0A68DD;
    --accent-color-25: rgba(10, 104, 218, .25);
    --accent-color-70: rgba(10, 104, 218, .70);

    --background-color: #F5F5F7;
    --floating-background-color: #FFF;

    --tooltip-background-color: var(--primary-color-60);
    --tooltip-color: #000;

    --lang-angular-color: rgba(221, 27, 22, 1);
    --lang-angular-color-25: rgba(221, 27, 22, .25);
    --lang-angular-color-50: rgba(221, 27, 22, .5);
    --lang-bootstrap-color: rgba(96, 44, 80, 1);
    --lang-bootstrap-color-25: rgba(96, 44, 80, .25);
    --lang-bootstrap-color-50: rgba(96, 44, 80, .5);
    --lang-typescript-color: rgb(43, 116, 137, 1);
    --lang-typescript-color-25: rgb(43, 116, 137, .25);
    --lang-typescript-color-50: rgb(43, 116, 137, .5);
    --lang-javascript-color: rgb(241, 224, 90, 1);
    --lang-javascript-color-25: rgb(241, 224, 90, .25);
    --lang-javascript-color-50: rgb(241, 224, 90, .5);
    --lang-svelte-color: rgb(255, 62, 0, 1);
    --lang-svelte-color-25: rgb(255, 62, 0, .25);
    --lang-svelte-color-50: rgb(255, 62, 0, .5);
    --lang-vuejs-color: rgb(65, 184, 131, 1);
    --lang-vuejs-color-25: rgb(65, 184, 131, .25);
    --lang-vuejs-color-50: rgb(65, 184, 131, .5);
    --lang-scss-color: rgb(198, 83, 140, 1);
    --lang-scss-color-25: rgb(198, 83, 140, .25);
    --lang-scss-color-50: rgb(198, 83, 140, .5);
    --lang-css-color: rgb(86, 61, 124, 1);
    --lang-css-color-25: rgb(86, 61, 124, .25);
    --lang-css-color-50: rgb(86, 61, 124, .5);
    --lang-html-color: rgb(227, 76, 38, 1);
    --lang-html-color-25: rgb(227, 76, 38, .25);
    --lang-html-color-50: rgb(227, 76, 38, .5);
    --lang-php-color: rgb(71, 74, 138, 1);
    --lang-php-color-25: rgb(71, 74, 138, .25);
    --lang-php-color-50: rgb(71, 74, 138, .5);
    --lang-shell-color: rgb(137, 224, 81, 1);
    --lang-shell-color-25: rgb(137, 224, 81, .25);
    --lang-shell-color-50: rgb(137, 224, 81, .5);
    --lang-mongodb-color: rgb(77, 179, 61, 1);
    --lang-mongodb-color-25: rgb(77, 179, 61, .25);
    --lang-mongodb-color-50: rgb(77, 179, 61, .5);
    --lang-nodejs-color: rgb(60, 135, 58, 1);
    --lang-nodejs-color-25: rgb(60, 135, 58, .25);
    --lang-nodejs-color-50: rgb(60, 135, 58, .5);
    --lang-expressjs-color: rgb(0, 0, 0, 1);
    --lang-expressjs-color-25: rgb(0, 0, 0, .25);
    --lang-expressjs-color-50: rgb(0, 0, 0, .5);
    --lang-mysql-color: rgb(0, 117, 143, 1);
    --lang-mysql-color-25: rgb(0, 117, 143, .25);
    --lang-mysql-color-50: rgb(0, 117, 143, .5);
    --lang-npm-color: rgb(204, 53, 52, 1);
    --lang-npm-color-25: rgb(204, 53, 52, .25);
    --lang-npm-color-50: rgb(204, 53, 52, .5);
    --lang-vscode-color: rgb(0, 120, 215, 1);
    --lang-vscode-color-25: rgb(0, 120, 215, .25);
    --lang-vscode-color-50: rgb(0, 120, 215, .5);
    --lang-git-color: rgb(241, 80, 47, 1);
    --lang-git-color-25: rgb(241, 80, 47, .25);
    --lang-git-color-50: rgb(241, 80, 47, .5);
    --lang-other-color: rgb(128, 128, 128, 1);
    --lang-other-color-25: rgb(128, 128, 128, .25);
    --lang-other-color-50: rgb(128, 128, 128, .5);

    //FONT
    --font-weigth-active: 500;

    // SVG
    --svg-filter: invert(0%) sepia(1%) saturate(7488%) hue-rotate(40deg) brightness(115%) contrast(98%);
    --svg-filter-active: invert(24%) sepia(83%) saturate(4547%) hue-rotate(205deg) brightness(96%) contrast(92%);
    --svg-filter-dark-mode:  invert(88%) sepia(6%) saturate(1880%) hue-rotate(336deg) brightness(105%) contrast(103%);
    --svg-filter-light-mode: invert(0%) sepia(1%) saturate(7488%) hue-rotate(40deg) brightness(115%) contrast(98%);

    --svg-opacity-active: .6;

    --svg-file-dark-mode-rel: url('../svg/themes/dark__mode__rel.svg') no-repeat;
    --svg-file-light-mode-rel: url('../svg/themes/light__mode__rel.svg') no-repeat;

    --svg-file-github-rel: url('../svg/github__rel.svg') no-repeat;
    --svg-file-linkedin-rel: url('../svg/linkedin__rel.svg') no-repeat;
    --svg-file-skills-rel: url('../svg/skills__rel.svg') no-repeat;
    --svg-file-repositories-rel: url('../svg/repositories__rel.svg') no-repeat;
    --svg-file-settings-rel: url('../svg/settings__rel.svg') no-repeat;
    --svg-file-browser-rel: url('../svg/browser__rel.svg') no-repeat;
    --svg-file-link-rel: url('../svg/link__rel.svg') no-repeat;

    --svg-file-angular-rel: url('../svg/lib/angular__rel.svg') no-repeat;
    --svg-file-bootstrap-rel: url('../svg/lib/bootstrap__rel.svg') no-repeat;
    --svg-file-css3-rel: url('../svg/lib/css3__rel.svg') no-repeat;
    --svg-file-git-rel: url('../svg/lib/git__rel.svg') no-repeat;
    --svg-file-gitflow-rel: url('../svg/lib/gitflow__rel.svg') no-repeat;
    --svg-file-html-rel: url('../svg/lib/html__rel.svg') no-repeat;
    --svg-file-java-rel: url('../svg/lib/java__rel.svg') no-repeat;
    --svg-file-javascript-rel: url('../svg/lib/javascript__rel.svg') no-repeat;
    --svg-file-mongodb-rel: url('../svg/lib/mongodb__rel.svg') no-repeat;
    --svg-file-mysql-rel: url('../svg/lib/mysql__rel.svg') no-repeat;
    --svg-file-nodejs-rel: url('../svg/lib/nodejs__rel.svg') no-repeat;
    --svg-file-php-rel: url('../svg/lib/php__rel.svg') no-repeat;
    --svg-file-scrum-rel: url('../svg/lib/scrum__rel.svg') no-repeat;
    --svg-file-typescript-rel: url('../svg/lib/typescript__rel.svg') no-repeat;
    --svg-file-vscode-rel: url('../svg/lib/vscode__rel.svg') no-repeat;
    --svg-file-vue-rel: url('../svg/lib/vue__rel.svg') no-repeat;
}